<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739242641594-0jhf1u499nlrecm1r4u3abmpkpsorhhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739242641594-0jhf1u499nlrecm1r4u3abmpkpsorhhk</string>
	<key>API_KEY</key>
	<string>AIzaSyDDR_NXZLEU2vkrScMD6ECOOmBaaAPlTo0</string>
	<key>GCM_SENDER_ID</key>
	<string>739242641594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pwa.nuttypwa</string>
	<key>PROJECT_ID</key>
	<string>nuttypwa-5086c</string>
	<key>STORAGE_BUCKET</key>
	<string>nuttypwa-5086c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739242641594:ios:2b9b45a2461e9646a41a83</string>
	<key>DATABASE_URL</key>
	<string>https://nuttypwa-5086c.firebaseio.com</string>
</dict>
</plist>